<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Admin</title>
<link rel="icon" href="/img/logo-3.png">
<link rel="stylesheet" href="/css/invoice.css">
</head>

<body>

	<!-- Print Button -->
	<div style="display: flex;">
		<a th:href="@{/dashboard}" class="print-button">trở lại Dashboard</a> <a
			href="javascript:window.print()" class="print-button">In hóa đơn</a>
	</div>


	<!-- Invoice -->
	<div id="invoice">

		<!-- Header -->
		<div class="row">
			<div class="col-md-6">
				<div id="logo">
					<img src="img/logo.png" alt="">
				</div>
			</div>
			<div class="col-md-6">

				<p id="details">
					<strong>Đơn hàng: </strong><i th:text="'#' + ${order.id}"></i><br>
					<strong>Ngày: </strong><i  th:text="${#dates.format(order.booking_Date, 'dd-MM-yyyy')}"></i><br>
					
				</p>
			</div>
		</div>
		<!-- Client & Supplier -->
		<div class="row">
			<div class="col-md-12">
				<h2>Hóa đơn</h2>
			</div>

			<div class="col-md-6">
				<strong class="margin-bottom-5">nhà cung cấp</strong>
				<p>
					Shopthucung <br> 475A Điện biên phủ Bình thạnh- TP. Hồ Chí Minh <br>
				</p>
			</div>

			<div class="col-md-6">
				<strong class="margin-bottom-5">khách hàng</strong>
				<p>
					<i th:text="${order.fullname}"></i> <br> <i
						th:text="'SĐT: ' + ${order.phone}"></i> <br> <i
						th:text="'Email: ' + ${order.email}"></i> <br>
				</p>
			</div>
		</div>
		<!-- Invoice -->
		<div class="row">
			<div class="col-md-12">
				<table class="margin-top-20">
					<tr>
						<th>mô tả</th>
						<th>số lượng</th>
						<th>tổng</th>
					</tr>
					<th:block th:each="y: ${listOrder_Item}">
						<tr>
							<td th:text="${y.product.product_Name}"></td>
							<td th:text="${y.count}"></td>
							<td th:text="${y.product.price} * ${y.count} + ' VNĐ'"></td>
						</tr>
					</th:block>

				</table>

				<p>
					<strong class="margin-bottom-5">địa chỉ: </strong>
					<i th:text="${order.address}"></i><br>
					<strong class="margin-bottom-5">phương thức thanh toán: </strong>
					<i th:text="${order.payment_Method}"></i>
				</p>
				
				
			</div>

			<div class="col-md-4 col-md-offset-8">

				<table id="totals">
					<tr>
						<th>tổng số tiền</th>
						<th><span th:text="${order.total} + ' VNĐ'"></span></th>

					</tr>
				</table>
			</div>
		</div>


		<!-- Footer -->
		<div class="row">
			<div class="col-md-12">
				<ul id="footer">
					<li><span>hotline: 123456789</span></li>
				</ul>
			</div>
		</div>

	</div>


</body>

</html>